<head>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1><a href="/">Task-it Dashboard</a></h1>
    {{#if user}}
      <nav>
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    {{/if}}
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <p>Task-it: The ultimate task tracker.</p>
  </footer>
</body>
</html>
